<!DOCTYPE html>
<html>
    <head>
        <title>Handwritten Digit Prediction</title>
    </head>
    <body>
        <h1>Upload a Handwritten Digit Image</h1>
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/*" required>
            <button type="submit">Upload</button>
        </form>

        {% if prediction %}
            <h2>Prediction: {{ prediction }}</h2>
        {% endif %}
    </body>
</html>